# Assignment SQL
## Assignment -2 :

In [1]:
import mysql.connector as conn
mydb = conn.connect(host = "localhost" , username = "root", passwd = "Anindita@123")
cursor = mydb.cursor()

In [2]:
cursor.execute("use worker_db")

<b>Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.</b>

In [11]:
cursor.execute("select substring(FIRST_NAME,1,3) from workers")
cursor.fetchall()

[('Don',),
 ('Dou',),
 ('Jen',),
 ('Mic',),
 ('Pat',),
 ('Sus',),
 ('Her',),
 ('She',),
 ('Wil',),
 ('Ste',),
 ('Nee',),
 ('Lex',),
 ('Ale',),
 ('Bru',),
 ('Dav',),
 ('Val',),
 ('Dia',),
 ('Nan',),
 ('Dan',),
 ('Joh',),
 ('Ism',),
 ('Jos',),
 ('Lui',),
 ('Den',),
 ('Ale',),
 ('She',),
 ('Sig',),
 ('Guy',),
 ('Kar',),
 ('Mat',),
 ('Ada',),
 ('Pay',),
 ('Sha',),
 ('Kev',),
 ('Jul',),
 ('Ire',),
 ('Jam',),
 ('Ste',),
 ('Lau',),
 ('Moz',),
 ('Jam',),
 ('TJ',),
 ('Jas',),
 ('Mic',),
 ('Ki',),
 ('Haz',),
 ('Ren',),
 ('Ste',),
 ('Joh',),
 ('Jos',)]

<b>Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.</b>

In [14]:
cursor.execute("SELECT LOCATE('a', FIRST_NAME),FIRST_NAME from workers")
cursor.fetchall()

[(4, 'Donald'),
 (6, 'Douglas'),
 (0, 'Jennifer'),
 (5, 'Michael'),
 (2, 'Pat'),
 (4, 'Susan'),
 (5, 'Hermann'),
 (0, 'Shelley'),
 (6, 'William'),
 (0, 'Steven'),
 (5, 'Neena'),
 (0, 'Lex'),
 (1, 'Alexander'),
 (0, 'Bruce'),
 (2, 'David'),
 (2, 'Valli'),
 (3, 'Diana'),
 (2, 'Nancy'),
 (2, 'Daniel'),
 (0, 'John'),
 (4, 'Ismael'),
 (7, 'Jose Manuel'),
 (0, 'Luis'),
 (0, 'Den'),
 (1, 'Alexander'),
 (0, 'Shelli'),
 (4, 'Sigal'),
 (0, 'Guy'),
 (2, 'Karen'),
 (2, 'Matthew'),
 (1, 'Adam'),
 (2, 'Payam'),
 (3, 'Shanta'),
 (0, 'Kevin'),
 (5, 'Julia'),
 (0, 'Irene'),
 (2, 'James'),
 (0, 'Steven'),
 (2, 'Laura'),
 (0, 'Mozhe'),
 (2, 'James'),
 (0, 'TJ'),
 (2, 'Jason'),
 (5, 'Michael'),
 (0, 'Ki'),
 (2, 'Hazel'),
 (0, 'Renske'),
 (0, 'Stephen'),
 (0, 'John'),
 (6, 'Joshua')]

<b>Q-3. Write an SQL query to print the name of employees having the highest salary in each department.</b>

In [24]:
cursor.execute("select FIRST_NAME, SALARY from workers where SALARY = (select max(salary) from workers)")
cursor.fetchall()

[('Alexander', '9000'), ('Daniel', '9000')]