# Assignment SQL
## Assignment -5 :

In [1]:
import mysql.connector as conn
mydb = conn.connect(host = "localhost" , username = "root", passwd = "Anindita@123")
cursor = mydb.cursor()

In [2]:
cursor.execute("use worker_db")

<b>Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.</b>

In [3]:
cursor.execute("select * from workers where FIRST_NAME = 'Steven' or FIRST_NAME = 'Neena'")
cursor.fetchall()

[('100',
  'Steven',
  'King',
  'SKING',
  '515.123.4567',
  '17-JUN-03',
  'AD_PRES',
  '24000',
  ' - ',
  ' - ',
  '90'),
 ('101',
  'Neena',
  'Kochhar',
  'NKOCHHAR',
  '515.123.4568',
  '21-SEP-05',
  'AD_VP',
  '17000',
  ' - ',
  '100',
  '90'),
 ('128',
  'Steven',
  'Markle',
  'SMARKLE',
  '650.124.1434',
  '08-MAR-08',
  'ST_CLERK',
  '2200',
  ' - ',
  '120',
  '50')]

<b>Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.</b>

In [4]:
cursor.execute("select FIRST_NAME from workers where FIRST_NAME like '______n'")
cursor.fetchall()

[('Hermann',), ('Stephen',)]

<b>Q-3. Write a query to validate Email of Employee.</b>

In [5]:
cursor.execute("select EMPLOYEE_ID,EMAIL from workers where EMPLOYEE_ID = '100'")
print(cursor.fetchall())
cursor.execute("update workers set EMAIL = 'Changed EMAIL' where EMPLOYEE_ID = 100")
cursor.execute("select EMPLOYEE_ID,EMAIL from workers where EMPLOYEE_ID = '100'")
cursor.fetchall()

[('100', 'SKING')]

[('100', 'Changed EMAIL')]