# Assignment SQL
## Assignment -3 :

In [1]:
import mysql.connector as conn
mydb = conn.connect(host = "localhost" , username = "root", passwd = "Anindita@123")
cursor = mydb.cursor()

In [2]:
cursor.execute("use worker_db")

<b>Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.</b>

In [3]:
cursor.execute("SELECT RTRIM(FIRST_NAME) from workers")
cursor.fetchall()

[('Donald',),
 ('Douglas',),
 ('Jennifer',),
 ('Michael',),
 ('Pat',),
 ('Susan',),
 ('Hermann',),
 ('Shelley',),
 ('William',),
 ('Steven',),
 ('Neena',),
 ('Lex',),
 ('Alexander',),
 ('Bruce',),
 ('David',),
 ('Valli',),
 ('Diana',),
 ('Nancy',),
 ('Daniel',),
 ('John',),
 ('Ismael',),
 ('Jose Manuel',),
 ('Luis',),
 ('Den',),
 ('Alexander',),
 ('Shelli',),
 ('Sigal',),
 ('Guy',),
 ('Karen',),
 ('Matthew',),
 ('Adam',),
 ('Payam',),
 ('Shanta',),
 ('Kevin',),
 ('Julia',),
 ('Irene',),
 ('James',),
 ('Steven',),
 ('Laura',),
 ('Mozhe',),
 ('James',),
 ('TJ',),
 ('Jason',),
 ('Michael',),
 ('Ki',),
 ('Hazel',),
 ('Renske',),
 ('Stephen',),
 ('John',),
 ('Joshua',)]

<b>Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.</b>

In [4]:
cursor.execute("select JOB_ID,length(JOB_ID) from workers")
cursor.fetchall()

[('SH_CLERK', 8),
 ('SH_CLERK', 8),
 ('AD_ASST', 7),
 ('MK_MAN', 6),
 ('MK_REP', 6),
 ('HR_REP', 6),
 ('PR_REP', 6),
 ('AC_MGR', 6),
 ('AC_ACCOUNT', 10),
 ('AD_PRES', 7),
 ('AD_VP', 5),
 ('AD_VP', 5),
 ('IT_PROG', 7),
 ('IT_PROG', 7),
 ('IT_PROG', 7),
 ('IT_PROG', 7),
 ('IT_PROG', 7),
 ('FI_MGR', 6),
 ('FI_ACCOUNT', 10),
 ('FI_ACCOUNT', 10),
 ('FI_ACCOUNT', 10),
 ('FI_ACCOUNT', 10),
 ('FI_ACCOUNT', 10),
 ('PU_MAN', 6),
 ('PU_CLERK', 8),
 ('PU_CLERK', 8),
 ('PU_CLERK', 8),
 ('PU_CLERK', 8),
 ('PU_CLERK', 8),
 ('ST_MAN', 6),
 ('ST_MAN', 6),
 ('ST_MAN', 6),
 ('ST_MAN', 6),
 ('ST_MAN', 6),
 ('ST_CLERK', 8),
 ('ST_CLERK', 8),
 ('ST_CLERK', 8),
 ('ST_CLERK', 8),
 ('ST_CLERK', 8),
 ('ST_CLERK', 8),
 ('ST_CLERK', 8),
 ('ST_CLERK', 8),
 ('ST_CLERK', 8),
 ('ST_CLERK', 8),
 ('ST_CLERK', 8),
 ('ST_CLERK', 8),
 ('ST_CLERK', 8),
 ('ST_CLERK', 8),
 ('ST_CLERK', 8),
 ('ST_CLERK', 8)]

<b>Q-3. Write an SQL query to fetch nth max salaries from a table.</b>

In [5]:
cursor.execute("(select FIRST_NAME,SALARY from workers order by SALARY desc limit 5) order by SALARY ASC")
cursor.fetchall()

[('John', '8200'),
 ('Adam', '8200'),
 ('William', '8300'),
 ('Alexander', '9000'),
 ('Daniel', '9000')]